body {
  font-family: sans-serif;
  padding-left: 10px;
}

button {
  background-color: white;
  margin-left: 10px;
}

button, input {
  border: solid lightgray 1px;
  border-radius: 4px;
  padding: 4px;
}

.done-true {
  color: gray;
  text-decoration: line-through;
}

li {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

li > span {
  margin-left: 10px;
}

.unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

